<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Administrativa - Incio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .contenido {
            width: 100%;
            height: 100vh;
        }

        .contenido header {
            background-color: #333;
            color: white;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        .contenido header h1 {
            margin: 10px;
            display: flex;
            align-items: center;
            flex: 1;
        }

        .contenido header h1 i {
            margin-right: 15px;
            cursor: pointer;
            font-size: 0.8em;
            color: white;
        }

        .cards-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .card {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            flex: 1;
            min-width: 250px;
            max-width: 300px;
            margin: 10px;
            text-decoration: none;
            color: inherit;
            text-align: center;
        }

        .card-content {
            padding: 50px;
        }

        .card-content h3 {
            margin: 0 0 10px;
        }

        .card-content p {
            color: #555;
        }
    </style>
</head>
<body>
    <div class="contenido">
        <header>
            <h1><i class="fas fa-arrow-circle-left" onclick="window.location.href='/'"></i>Admin</h1>
        </header>
        <div class="cards-container">
            <a href="/admin/integrantes/listar" class="card">
                <div class="card-content">
                    <h2>Integrantes</h2>
                </div>
            </a>
            <a href="/admin/tipoMedia/listar" class="card">
                <div class="card-content">
                    <h2>Tipo Media</h2>
                </div>
            </a>
            <a href="/admin/media/listar" class="card">
                <div class="card-content">
                    <h2>Media</h2>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
